{%load static%}
<!DOCTYPE html>       
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/lab4_form.css' %}" /> 
        <title>Note Form</title>
    </head>
    <body>
        <form action="" method="POST"> 
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add">
        </form>
    </body>
</html>  