{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/lab4_note_list.css' %}" /> 
    <title>Note List</title>
  </head>
  <body>
    <div class = "contain">
      <table class = "tabel">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        
        {% if notes %} 
          {% for note in notes %}
            <tr class = "card">
              <td>{{ note.to }}</td>
              <td>{{ note.dari }}</td>
              <td>{{ note.title }}</td>
              <td>{{ note.message }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
  </body>
</html>
