.tabel {
    font-family: sans-serif;
    border-collapse: separate;
    border-spacing: 0 15px;
}
 
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: lightgreen;
  }
  
  /* Add some padding inside the card container */
  tr,td,th {
    padding: 20px 16px;
  }

  .card{
      padding-bottom: 100px;
  }
/*
tr {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;  
}*/