.tabel {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}
 
.tabel, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}

.top{
    background-color: cyan;
}

.mid:hover {background-color: lightgreen;}
