input[type=button], input[type=submit], input[type=reset] {
    background-color: #03c409;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text]{
    background-color: #c7e9d9;
}

input[type=text]:focus {
    border: 3px solid #555;
}

